@import "./mixins";
@import "./variables";

.cart__wrapper {
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 35px;
  background: #f5f5f5;
  .loading-cart {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(247,247,247,0.7);
    z-index: 2;
    .loading-cart-image {
      position: absolute;
      width: 50px;
      left: 50%;
      top: 50%;
      margin-left: -25px;
      margin-top: -25px;
      img {
        width: 100%;
      }
    }
  }
  div.cart {
    width: 80%;
    margin: 0 auto;
    .cart__heading {
      @include d-flex(null, center);
      margin-bottom: 35px;
      .cart__heading-rect {
        width: 7px;
        height: 20px;
        border-radius: 8px;
        background: $blue;
        margin-right: 10px;
      }
      .cart__heading-text {
        font-weight: 600;
        color: $darkGrey;
        font-size: 20px;
      }
    }
    .cart__empty {
      text-align: center;
      .cart__empty-image {
        width: 170px;
        margin: 0 auto;
        img {
          margin-top: 30px;
          width: 100%;
        }
      }
      .cart__empty-text {
        color: $darkGrey;
        font-weight: 600;
      }
    }
    .cart__data {
      position: relative;
      .cart__data-heading {
        position: absolute;
        top: -44px;
        color: #909095;
        font-weight: 600;
        font-size: 14px;
      }
      .cart__data-heading.one {
        left: 0;
      }
      .cart__data-heading.two {
        left: 50%;
        transform: translateX(-50%);
      }
      .cart__data-heading.three {
        left: 70%;
        transform: translateX(-50%);
      }
      .cart__data-heading.four {
        left: 90%;
        transform: translateX(-50%);
        color: $pink;
      }
      .cart__data-item {
        position: relative;
        width: 100%;
        height: 130px;
        @include d-flex(null, center);
        box-shadow: 0 2px 20px -2px rgba(0,0,0,0.15);
        border: 1px solid rgb(204, 204, 204, 0.3);
        border-radius: 8px;
        margin-bottom: 35px;
        background: #fff;
        .cart__description {
          width: 40%;
          border-right: 1px solid $lightGrey;
          @include d-flex(null, center);
          padding: 10px;
          height: 100%;
          box-sizing: border-box;
          position: relative;
          .cart__description-image {
            width: 60px;
            margin-right: 20px;
            img {
              width: 100%;
            }
          }
          .cart__description-texts {
            .cart__description-texts--top {
              color: $pink;
              font-size: 12px;
              margin: 0;
              margin-bottom: 5px;
              font-weight: 600;
            }
            .cart__description-texts--bottom {
              font-size: 18px;
              margin: 0;
              font-weight: 600;
              color: $darkGrey;
            }
          }
        }
        .cart__quantity {
          width: 20%;
          border-right: 1px solid $lightGrey;
          height: 100%;
          @include d-flex(center, center);
          .select-css {
            display: block;
            font-size: 14px;
            font-family: sans-serif;
            font-weight: 700;
            color: #444;
            line-height: 1.3;
            padding: .6em 1.4em .5em .8em;
            width: 25%;
            max-width: 100%;
            box-sizing: border-box;
            margin: 0;
            border: 1px solid #aaa;
            box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
            border-radius: .5em;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 50%, 0 0;
            background-size: .65em auto, 100%;
          }
          .select-css::-ms-expand {
            display: none;
          }
          .select-css:hover {
            border-color: #888;
          }
          .select-css:focus {
            border-color: #aaa;
            box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
            box-shadow: 0 0 0 3px -moz-mac-focusring;
            color: #222;
            outline: none;
          }
          .select-css option {
            font-weight:normal;
          }
        }
        .cart__unit-price, .cart__sub-total {
          width: 20%;
          border-right: 1px solid $lightGrey;
          height: 100%;
          @include d-flex(center, center);
          .cart__unit-price-value {
            color: $darkGrey;
            font-weight: 600;
          }
          .cart__unit-price-value.total {
            color: $pink;
          }
        }
        .delete__cart {
          position: absolute;
          @include d-flex(center, center);
          padding: 16px;
          box-sizing: border-box;
          width: 50px;
          box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.3);
          top: 0;
          height: 50px;
          border-radius: 50px;
          transform: translate(50%, -50%);
          background: #fff;
          right: 0;
          &:hover {
            cursor: pointer;
          }
          .delete__cart-image {
            width: 20px;
            img {
              width: 100%;
            }
          }
        }
      }
      .cart__total {
        width: 100%;
        @include d-flex(flex-start, flex-end);
        text-align: right;
        flex-direction: column;
        .cart__total-wrapper {
          width: auto;
          margin-bottom: 25px;
          .cart_-total-price {
            @include d-flex(space-between, null);
            .cart__total-title {
              color: $darkGrey;
              font-weight: 500;
            }
            .cart__total-value {
              color: $blue;
              font-size: 17px;
              font-weight: 600;
            }
          }
          .cart__delivery-detail {
            color: #909095;
            font-size: 14px;
          }
        }
      }
    }
  }
  .cart__proceed-to-checkout {
    width: 100%;
    height: 100px;
    background: #fff;
    box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.2);
    @include d-flex(space-between, center);
    .cart__proceed-to-checkout-btn-wrapper {
      width: 80%;
      margin: 0 auto;
      @include d-flex(space-between, null);
      .cart__proceed-to-checkout-btn {
        padding: 15px 20px;
        width: auto;
        font-size: 13px;
        box-sizing: border-box;
        color: #fff;
        border-radius: 4px;
        font-weight: 600;
        background: $blue;
        text-decoration: none;
        box-shadow: 0px 2px 12px -2px $blue;
        transition: all .3s;
        &:hover {
          transform: translateY(2px);
          cursor: pointer;
          box-shadow: 0px 2px 12px -2px $blue;
        }
        &:active {
          box-shadow: 0px 2px 4px -2px $blue;
        }
      }
      .cart__proceed-to-checkout-btn.back {
        background: #fff;
        color: $blue;
        box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.4);
        &:active {
          box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.4);
        }
      }
    }
  }
}