@mixin fontStyle($fontfam, $font, $fontWeight, $color) {
  font-family: $fontfam;
  font-size: $font;
  font-weight: $fontWeight;
  color: $color;
}

@mixin d-flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin forInput($width, $padding, $height) {
  width: $width;
  height: $height;
  border-radius: 3px;
  border: solid 1px #d9e1e7;
  box-sizing: border-box;
  padding: $padding;
  &::placeholder {
      color: #aeb9c1;
  }
}

@mixin linkHovered {
  &:hover {
      color: #78C482;
      fill: #78C482;
      cursor: pointer;
      transition: .5s;
  }
}

@mixin addressSubtotal($width, $height) {
  width: $width;
  height: $height;
  background: #fff;
  box-shadow: 0 4px 14px -1px rgba(106,117,131,0.25);
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
}

@mixin addScrollBar {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    width: 10px;
    border: 7px solid #ccc;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
  }
  &::-webkit-scrollbar-thumb {
    background: $pink;
    border-radius: 8px;
  }
}